<%= form_for @ingredient, :html => { :class => "form-horizontal ingredient" } do |f| %>

  <% if @ingredient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ingredient.errors.count, "error") %> prohibited this ingredient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ingredient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => 'form-control', :required => true %>
    </div>
    <%=f.error_span(:nombre) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ingredients_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
