<%= form_tag search_recipe_index_path, method: :get do%>
    <label>Ingredients:</label>
    <div style="clear:both"></div>
    <% @ingredients.each do |ingredient| %>
    <div class="field" style="float:left; margin-left:10px">
        <%= check_box_tag "ingredients[]", ingredient.id %> <%= ingredient.nombre %>
    </div>
    <%end%>
    <div style="clear:both"></div>
    <label>Implementos:</label>
    <div style="clear:both"></div>
    <% @implements.each do |implement| %>
    <div class="field" style="float:left; margin-left:10px">
        <%= check_box_tag "implements[]", implement.id %> <%= implement.nombre %>
    </div>
    <%end%>
    
    <div style="clear:both"></div>
    <%= submit_tag "Buscar :)", name: nil, class: "btn btn-primary btn-md" %>
<%end%>