<%- model_class = Ingredient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.nombre %></td>
        <td><%=l ingredient.created_at %></td>
        <td>
           <%if ingredient.may_publish? %>
            <%= link_to t('.Publicar', :default => t("helpers.links.publicar")),
                        "/ingredients/#{ingredient.id}/publish", :class => 'btn btn-default btn-xs', method: :put %>
          <% end%>
          <%= link_to t('.editar', :default => t("helpers.links.edit")),
                      edit_ingredient_path(ingredient), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.eliminar', :default => t("helpers.links.destroy")),
                      ingredient_path(ingredient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ingredient_path,
            :class => 'btn btn-primary' %>