<%- model_class = Implement -%>
<div class="page-header">
  <h1>Implementos</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @implements.each do |implement| %>
      <tr>
        <td><%= link_to implement.id, implement_path(implement) %></td>
        <td><%= implement.nombre %></td>
        <td><%=l implement.created_at %></td>
        <td>
          <% if user_signed_in? && current_user.is_admin? %>

          <%= link_to t('.editar', :default => t("helpers.links.edit")),
                      edit_implement_path(implement), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.eliminar', :default => t("helpers.links.destroy")),
                      implement_path(implement),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_implement_path,
            :class => 'btn btn-primary' %>
