<%- model_class = Implement -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @implement.nombre %></dd>
</dl>

<% if user_signed_in? && current_user.is_admin? %>
<%= link_to t('.Atras', :default => t("helpers.links.atras")),
              aceptarimp_path, :class => 'btn btn-default'  %>
<% elsif user_signed_in? && current_user.is_normal_user? %>
<%= link_to t('.Atras', :default => t("helpers.links.back")),
              implements_path, :class => 'btn btn-default'  %>
<% else %>
<%end%>
<% if user_signed_in? && current_user.is_admin? %>
<%= link_to t('.editar', :default => t("helpers.links.edit")),
              edit_implement_path(@implement), :class => 'btn btn-default' %>
<%= link_to t('.eliminar', :default => t("helpers.links.destroy")),
              implement_path(@implement),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<%end%>
