<%= form_for @recipe, :html => { :class => "form-horizontal recipe" } do |f| %>

  <% if @recipe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :titulo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :titulo, :required => true ,:class => 'form-control' %>
    </div>
    <%=f.error_span(:titulo) %>
  </div>
  <div class="form-group">
    <%= f.label :dificultad, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select( :dificultad,["Facil","Moderado","Dificil"],{},{:required => true, :class => 'form-control'}) %>
    </div>
    <%=f.error_span(:dificultad) %>
  </div>
  <div class="form-group">
    <%= f.label :tiempo, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.time_select  :tiempo, :required => true,:class => 'form-control', :default => {:hour => '00', :minute => '00'} %>
    </div>
    <%=f.error_span(:tiempo) %>
  </div>
  <div class="field" style="margin-left:40px">
    <label> ingredientes </label>
    <br>
    <% @ingredients.each do |ingredient| %>
    <div class="field" style="float:left; margin-left:10px">
      <dd><%= check_box_tag "Ingredients[]", ingredient.id %> <%= ingredient.nombre %></dd>
    </div>
    <% end %>
  </div>
  <div style="clear:both"></div>
  <div class="field" style="margin-left:40px">
    <label> implementos </label>
    <br>
    <% @implements.each do |implement| %>
    <div class="field" style="float:left; margin-left:10px">
      <dd><%= check_box_tag "Implements[]", implement.id %> <%= implement.nombre %></dd>
    </div>
    <% end %>
  </div>
  <br>
  <div style="clear:both"></div>
  <div class="form-group">
    <%= f.label :glosa, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :glosa,:required => true,:rows => 10 ,:class => 'form-control' %>
    </div>
    <%=f.error_span(:glosa) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Solicitar Ingrediente', ingredients_path, :class => 'btn btn-default' %>
      <%= link_to 'Solicitar Implemento', implements_path, :class => 'btn btn-default' %>
      <%= link_to t('.cancelar', :default => t("helpers.links.cancel")),
                recipes_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
