<%- model_class = Recipe -%>
<div class="page-header">
  <h1>Recetas</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <!--<th><%= model_class.human_attribute_name(:id) %></th> -->
      <th><%= model_class.human_attribute_name(:titulo) %></th>
      <!--<th><%= model_class.human_attribute_name(:dificultad) %></th> -->
      <!--<th><%= model_class.human_attribute_name(:tiempo) %></th> -->
      <!--<th><%= model_class.human_attribute_name(:ingredientes) %></th> -->
      <!--<th><%= model_class.human_attribute_name(:implemento) %></th> -->
      <!--<th><%= model_class.human_attribute_name(:glosa) %></th> -->
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <!--<td><%= link_to recipe.id, recipe_path(recipe) %></td>-->
        <!--<td><%= recipe.titulo %></td> -->
        <!--<td><%= recipe.dificultad %></td> -->
        <!--<td><%= recipe.tiempo %></td> -->
        <!--<td><%= recipe.ingredientes %></td> -->
        <!--<td><%= recipe.implemento %></td> -->
        <!--<td><%= recipe.glosa %></td> -->
        <td><%= link_to recipe.titulo, recipe_path(recipe)%></td>
        <td><%=l recipe.created_at %></td> 
        <td>
          <% if user_signed_in? && current_user.is_moderador? %>
            <%= link_to t('.Editar', :default => t("helpers.links.editar")),
                        edit_recipe_path(recipe), :class => 'btn btn-default btn-xs' %>
          <%end%>
          <% if user_signed_in? && current_user.is_admin? %>
            <%= link_to t('.Eliminar', :default => t("helpers.links.Eliminar")),
                        recipe_path(recipe),

                      :method => :delete,
                      :data => { :confirm => t('.Confirmacion', :default => t("helpers.links.confirmacion", :default => '¿Esta seguro que desea eliminar la receta?')) },
                      :class => 'btn btn-xs btn-danger' %>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? && current_user.is_normal_user? %>
<%= link_to t('.Crear receta', :default => t("helpers.links.Crear Receta")),
            new_recipe_path,
            :class => 'btn btn-primary' %>
<% end %>
