<%- model_class = Recipe -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:titulo) %>:</strong></dt>
  <dd><%= @recipe.titulo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dificultad) %>:</strong></dt>
  <dd><%= @recipe.dificultad %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tiempo) %>:</strong></dt>
  <dd><%= @recipe.tiempo.to_s(:time)%></dd>
  <!--Mostrar ingredientes-->
  <div class="field">
    <dt>Ingredientes:</dt>
    <br>
    <% @recipe.ingredients.each do |ingredient| %>

        <dd><%=ingredient.nombre %></dd>
    <%end%>
  </div>
 <!--Mostrar implementos-->
 <div class="field">
    <dt>Implementos:</dt>
    <br>
    <% @recipe.implements.each do |implement| %>
        <dd><%=implement.nombre%></dd>
    <%end%>


  <dt><strong><%= model_class.human_attribute_name(:glosa) %>:</strong></dt>
  <dd><%= simple_format(@recipe.glosa) %></dd>

  <div class="field">
    <h3>Comentarios</h3>
    <br>
    <%= render "comments/form" %>
    <ul>
      <% @recipe.comments.each do |comment| %>
      <li>
        <%= comment.body%> - <%= comment.user.email %>

      </li>
      <%end%>
    </ul>

  </div>

</dl>

<% if user_signed_in? && current_user.is_admin? %>
<%= link_to t('.Atras', :default => t("helpers.links.atras")),
              recipes_path, :class => 'btn btn-default'  %>
<% elsif user_signed_in? && current_user.is_moderador? %>
<%= link_to t('.Atras', :default => t("helpers.links.atras")),
              dashboard_path, :class => 'btn btn-default'  %>  
<% elsif user_signed_in? && current_user.is_normal_user? %>
<%= link_to t('.Atras', :default => t("helpers.links.atras")),
              recipes_path, :class => 'btn btn-default'  %>
<%else%>

<%end%>         
<% if user_signed_in? && current_user.is_admin? %>
  <%= link_to t('.editar', :default => t("helpers.links.editar")),
              edit_recipe_path(@recipe), :class => 'btn btn-default' %>
<%end%>
 <% if user_signed_in? && current_user.is_admin? %>
    <%= link_to t('.Eliminar', :default => t("helpers.links.eliminar")),
              recipe_path(@recipe),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirmacion", :default => '¿Esta seguro que desea eliminar la receta?')) },
              :class => 'btn btn-danger' %>
<%end%>
